tools/src/test/resources/idl/expected_Anonboundedsequence.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:tns="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap">
    <corba:sequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:ulong" elemname="item" bound="10" repositoryID="IDL:SeqLong:1.0" type="ns4:SeqLong" name="SeqLong" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:_1_SeqSeqLong" name="_1_SeqSeqLong" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:_1_SeqSeqLong" elemname="item" bound="100" repositoryID="IDL:SeqSeqLong:1.0" type="ns5:SeqSeqLong" name="SeqSeqLong" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:SeqSeqSeqLong._1_SeqSeqSeqLong" name="SeqSeqSeqLong._1_SeqSeqSeqLong" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:SeqSeqSeqLong._1_SeqSeqSeqLong" elemname="item" bound="100" type="ns5:_1_SeqSeqSeqLong" name="_1_SeqSeqSeqLong" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:_1_SeqSeqSeqLong" elemname="item" bound="1000" repositoryID="IDL:SeqSeqSeqLong:1.0" type="ns5:SeqSeqSeqLong" name="SeqSeqSeqLong" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:_1_anonStruct" name="_1_anonStruct" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonStruct._1_anonStruct" name="anonStruct._1_anonStruct" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonStruct._1_anonStruct" elemname="item" bound="100" type="ns5:_2_anonStruct" name="_2_anonStruct" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonStruct._2_anonStruct" name="anonStruct._2_anonStruct" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonStruct._2_anonStruct" elemname="item" bound="100" type="ns5:anonStruct._3_anonStruct" name="anonStruct._3_anonStruct" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonStruct._3_anonStruct" elemname="item" bound="1000" type="ns5:_3_anonStruct" name="_3_anonStruct" />
    <corba:struct xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence" repositoryID="IDL:anonStruct:1.0" type="anonStruct" name="anonStruct">
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="structSeqLong" idltype="ns4:_1_anonStruct" />
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="structSeqSeqLong" idltype="ns4:_2_anonStruct" />
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="structSeqSeqSeqLong" idltype="ns4:_3_anonStruct" />
    </corba:struct>
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:short" elemname="item" bound="10" type="ns4:_1_anonTypedefStruct" name="_1_anonTypedefStruct" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:short" elemname="item" bound="10" type="ns4:anonTypedefStruct._1_anonTypedefStruct" name="anonTypedefStruct._1_anonTypedefStruct" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonTypedefStruct._1_anonTypedefStruct" elemname="item" bound="100" type="ns5:_2_anonTypedefStruct" name="_2_anonTypedefStruct" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:short" elemname="item" bound="10" type="ns4:anonTypedefStruct._2_anonTypedefStruct" name="anonTypedefStruct._2_anonTypedefStruct" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonTypedefStruct._2_anonTypedefStruct" elemname="item" bound="100" type="ns5:anonTypedefStruct._3_anonTypedefStruct" name="anonTypedefStruct._3_anonTypedefStruct" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonTypedefStruct._3_anonTypedefStruct" elemname="item" bound="1000" type="ns5:_3_anonTypedefStruct" name="_3_anonTypedefStruct" />
    <corba:struct xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence" repositoryID="IDL:anonTypedefStruct:1.0" type="anonTypedefStruct" name="anonTypedefStruct">
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="typedefStructSeqShort" idltype="ns4:_1_anonTypedefStruct" />
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="typedefStructSeqSeqShort" idltype="ns4:_2_anonTypedefStruct" />
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="typedefStructSeqSeqSeqShort" idltype="ns4:_3_anonTypedefStruct" />
    </corba:struct>
    <corba:alias xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" basetype="anonTypedefStruct" repositoryID="IDL:myAnonTypedefStruct:1.0" name="myAnonTypedefStruct" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:_1_anonUnion" name="_1_anonUnion" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonUnion._1_anonUnion" name="anonUnion._1_anonUnion" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonUnion._1_anonUnion" elemname="item" bound="100" type="ns5:_2_anonUnion" name="_2_anonUnion" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonUnion._2_anonUnion" name="anonUnion._2_anonUnion" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonUnion._2_anonUnion" elemname="item" bound="100" type="ns5:anonUnion._3_anonUnion" name="anonUnion._3_anonUnion" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonUnion._3_anonUnion" elemname="item" bound="1000" type="ns5:_3_anonUnion" name="_3_anonUnion" />
    <corba:union xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence" discriminator="corba:long" repositoryID="IDL:anonUnion:1.0" type="anonUnion" name="anonUnion">
      <corba:unionbranch xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="unionSeqLong" idltype="ns4:_1_anonUnion">
        <corba:case label="1" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="unionSeqLong" idltype="ns4:_2_anonUnion">
        <corba:case label="2" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="unionSeqLong" idltype="ns4:_3_anonUnion" default="true" />
    </corba:union>
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:_1_anonTypedefUnion" name="_1_anonTypedefUnion" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonTypedefUnion._1_anonTypedefUnion" name="anonTypedefUnion._1_anonTypedefUnion" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonTypedefUnion._1_anonTypedefUnion" elemname="item" bound="100" type="ns5:_2_anonTypedefUnion" name="_2_anonTypedefUnion" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonTypedefUnion._2_anonTypedefUnion" name="anonTypedefUnion._2_anonTypedefUnion" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonTypedefUnion._2_anonTypedefUnion" elemname="item" bound="100" type="ns5:anonTypedefUnion._3_anonTypedefUnion" name="anonTypedefUnion._3_anonTypedefUnion" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonTypedefUnion._3_anonTypedefUnion" elemname="item" bound="1000" type="ns5:_3_anonTypedefUnion" name="_3_anonTypedefUnion" />
    <corba:union xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence" discriminator="corba:long" repositoryID="IDL:anonTypedefUnion:1.0" type="anonTypedefUnion" name="anonTypedefUnion">
      <corba:unionbranch xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="typedefUnionSeqLong" idltype="ns4:_1_anonTypedefUnion">
        <corba:case label="1" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="typedefUnionSeqLong" idltype="ns4:_2_anonTypedefUnion">
        <corba:case label="2" />
      </corba:unionbranch>
      <corba:unionbranch xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="typedefUnionSeqLong" idltype="ns4:_3_anonTypedefUnion" default="true" />
    </corba:union>
    <corba:alias xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" basetype="anonTypedefUnion" repositoryID="IDL:myAnonUnion:1.0" name="myAnonUnion" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:_1_anonException" name="_1_anonException" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonException._1_anonException" name="anonException._1_anonException" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonException._1_anonException" elemname="item" bound="100" type="ns5:_2_anonException" name="_2_anonException" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="10" type="ns4:anonException._2_anonException" name="anonException._2_anonException" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonException._2_anonException" elemname="item" bound="100" type="ns5:anonException._3_anonException" name="anonException._3_anonException" />
    <corba:anonsequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonException._3_anonException" elemname="item" bound="1000" type="ns5:_3_anonException" name="_3_anonException" />
    <corba:exception xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence" repositoryID="IDL:anonException:1.0" type="anonExceptionType" name="anonException">
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="exceptionSeqLong" idltype="ns4:_1_anonException" />
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="exceptionSeqSeqLong" idltype="ns4:_2_anonException" />
      <corba:member xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" name="exceptionSeqSeqSeqLong" idltype="ns4:_3_anonException" />
    </corba:exception>
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:float" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myFloatBoundedSeqSeq" name="anonBoundedSequences._1_myFloatBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myFloatBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myFloatBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myFloatBoundedSeqSeq" name="anonBoundedSequences.myFloatBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:double" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myDoubleBoundedSeqSeq" name="anonBoundedSequences._1_myDoubleBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myDoubleBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myDoubleBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myDoubleBoundedSeqSeq" name="anonBoundedSequences.myDoubleBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:longdouble" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myLongDoubleBoundedSeqSeq" name="anonBoundedSequences._1_myLongDoubleBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myLongDoubleBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myLongDoubleBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myLongDoubleBoundedSeqSeq" name="anonBoundedSequences.myLongDoubleBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:short" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myShortBoundedSeqSeq" name="anonBoundedSequences._1_myShortBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myShortBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myShortBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myShortBoundedSeqSeq" name="anonBoundedSequences.myShortBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:long" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myLongBoundedSeqSeq" name="anonBoundedSequences._1_myLongBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myLongBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myLongBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myLongBoundedSeqSeq" name="anonBoundedSequences.myLongBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:longlong" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myLonglongBoundedSeqSeq" name="anonBoundedSequences._1_myLonglongBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myLonglongBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myLonglongBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myLonglongBoundedSeqSeq" name="anonBoundedSequences.myLonglongBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:ushort" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myUnsignedShortBoundedSeqSeq" name="anonBoundedSequences._1_myUnsignedShortBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myUnsignedShortBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myUnsignedShortBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myUnsignedShortBoundedSeqSeq" name="anonBoundedSequences.myUnsignedShortBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:ulong" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myUnsignedLongBoundedSeqSeq" name="anonBoundedSequences._1_myUnsignedLongBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myUnsignedLongBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myUnsignedLongBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myUnsignedLongBoundedSeqSeq" name="anonBoundedSequences.myUnsignedLongBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:ulonglong" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myUnsignedLongLongBoundedSeqSeq" name="anonBoundedSequences._1_myUnsignedLongLongBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myUnsignedLongLongBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myUnsignedLongLongBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myUnsignedLongLongBoundedSeqSeq" name="anonBoundedSequences.myUnsignedLongLongBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:char" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myCharBoundedSeqSeq" name="anonBoundedSequences._1_myCharBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myCharBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myCharBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myCharBoundedSeqSeq" name="anonBoundedSequences.myCharBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:wchar" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myWcharBoundedSeqSeq" name="anonBoundedSequences._1_myWcharBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myWcharBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myWcharBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myWcharBoundedSeqSeq" name="anonBoundedSequences.myWcharBoundedSeqSeq" />
    <corba:anonsequence xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="" elemtype="corba:boolean" elemname="item" bound="5" type="ns4:anonBoundedSequences._1_myBooleanBoundedSeqSeq" name="anonBoundedSequences._1_myBooleanBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myBooleanBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myBooleanBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myBooleanBoundedSeqSeq" name="anonBoundedSequences.myBooleanBoundedSeqSeq" />
    <corba:anonsequence xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="" elemtype="corba:octet" elemname="item" bound="5" type="xs:base64Binary" name="anonBoundedSequences._1_myOctetBoundedSeqSeq" />
    <corba:sequence xmlns:ns5="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:ns4="http://schemas.apache.org/yoko/idl/Anonboundedsequence/typemap" xmlns="" elemtype="ns4:anonBoundedSequences._1_myOctetBoundedSeqSeq" elemname="item" bound="0" repositoryID="IDL:anonBoundedSequences/myOctetBoundedSeqSeq:1.0" type="ns5:anonBoundedSequences.myOctetBoundedSeqSeq" name="anonBoundedSequences.myOctetBoundedSeqSeq" />
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns="http://schemas.apache.org/yoko/idl/Anonboundedsequence" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="SeqLong">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:unsignedInt">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_SeqSeqLong">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SeqSeqLong">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="_1_SeqSeqLong">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SeqSeqSeqLong._1_SeqSeqSeqLong">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_SeqSeqSeqLong">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="SeqSeqSeqLong._1_SeqSeqSeqLong">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SeqSeqSeqLong">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="0" name="item" type="_1_SeqSeqSeqLong">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_anonStruct">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._1_anonStruct">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_anonStruct">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonStruct._1_anonStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._2_anonStruct">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct._3_anonStruct">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonStruct._2_anonStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_anonStruct">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="0" name="item" type="anonStruct._3_anonStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonStruct">
        <xs:sequence>
          <xs:element name="structSeqLong" type="_1_anonStruct">
          </xs:element>
          <xs:element name="structSeqSeqLong" type="_2_anonStruct">
          </xs:element>
          <xs:element name="structSeqSeqSeqLong" type="_3_anonStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_anonTypedefStruct">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._1_anonTypedefStruct">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_anonTypedefStruct">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonTypedefStruct._1_anonTypedefStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._2_anonTypedefStruct">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct._3_anonTypedefStruct">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonTypedefStruct._2_anonTypedefStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_anonTypedefStruct">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="0" name="item" type="anonTypedefStruct._3_anonTypedefStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefStruct">
        <xs:sequence>
          <xs:element name="typedefStructSeqShort" type="_1_anonTypedefStruct">
          </xs:element>
          <xs:element name="typedefStructSeqSeqShort" type="_2_anonTypedefStruct">
          </xs:element>
          <xs:element name="typedefStructSeqSeqSeqShort" type="_3_anonTypedefStruct">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._1_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonUnion._1_anonUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._2_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion._3_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonUnion._2_anonUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_anonUnion">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="0" name="item" type="anonUnion._3_anonUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonUnion">
        <xs:choice>
          <xs:element name="unionSeqLong" type="_1_anonUnion">
          </xs:element>
          <xs:element name="unionSeqLong" type="_2_anonUnion">
          </xs:element>
          <xs:element name="unionSeqLong" type="_3_anonUnion">
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="_1_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._1_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonTypedefUnion._1_anonTypedefUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._2_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion._3_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonTypedefUnion._2_anonTypedefUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_anonTypedefUnion">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="0" name="item" type="anonTypedefUnion._3_anonTypedefUnion">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonTypedefUnion">
        <xs:choice>
          <xs:element name="typedefUnionSeqLong" type="_1_anonTypedefUnion">
          </xs:element>
          <xs:element name="typedefUnionSeqLong" type="_2_anonTypedefUnion">
          </xs:element>
          <xs:element name="typedefUnionSeqLong" type="_3_anonTypedefUnion">
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="_1_anonException">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._1_anonException">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_anonException">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonException._1_anonException">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._2_anonException">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonException._3_anonException">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="0" name="item" type="anonException._2_anonException">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_anonException">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="0" name="item" type="anonException._3_anonException">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="anonException" type="anonExceptionType">
      </xs:element>
      <xs:complexType name="anonExceptionType">
        <xs:sequence>
          <xs:element name="exceptionSeqLong" type="_1_anonException">
          </xs:element>
          <xs:element name="exceptionSeqSeqLong" type="_2_anonException">
          </xs:element>
          <xs:element name="exceptionSeqSeqSeqLong" type="_3_anonException">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myFloatBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:float">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myFloatBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myFloatBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myDoubleBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:double">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myDoubleBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myDoubleBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myLongDoubleBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:double">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myLongDoubleBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myLongDoubleBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myShortBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myShortBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myShortBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myLongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myLongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myLongBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myLonglongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:long">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myLonglongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myLonglongBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myUnsignedShortBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:unsignedShort">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myUnsignedShortBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myUnsignedShortBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myUnsignedLongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:unsignedInt">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myUnsignedLongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myUnsignedLongBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myUnsignedLongLongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:unsignedLong">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myUnsignedLongLongBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myUnsignedLongLongBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myCharBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:byte">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myCharBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myCharBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myWcharBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myWcharBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myWcharBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences._1_myBooleanBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="5" minOccurs="0" name="item" type="xs:boolean">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myBooleanBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="anonBoundedSequences._1_myBooleanBoundedSeqSeq">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anonBoundedSequences.myOctetBoundedSeqSeq">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="xs:base64Binary">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
</wsdl:definitions>
