tools/src/test/resources/idl/expected_Array.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/Array" xmlns:tns="http://schemas.apache.org/yoko/idl/Array" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/yoko/idl/Array/typemap">
    <corba:array xmlns="" elemname="item" bound="10" repositoryID="IDL:LongArray:1.0" type="corba:long" name="LongArray" />
    <corba:anonarray xmlns="" elemname="item" bound="100" type="corba:long" name="_1_LongArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10" repositoryID="IDL:LongArrayArray:1.0" type="ns4:_1_LongArrayArray" name="LongArrayArray" />
    <corba:anonarray xmlns="" elemname="item" bound="1000" type="corba:long" name="_1_LongArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="100" type="ns4:_1_LongArrayArrayArray" name="_2_LongArrayArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10" repositoryID="IDL:LongArrayArrayArray:1.0" type="ns4:_2_LongArrayArrayArray" name="LongArrayArrayArray" />
    <corba:anonarray xmlns="" elemname="item" bound="10000" type="corba:long" name="_1_LongArrayArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="1000" type="ns4:_1_LongArrayArrayArrayArray" name="_2_LongArrayArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="100" type="ns4:_2_LongArrayArrayArrayArray" name="_3_LongArrayArrayArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10" repositoryID="IDL:LongArrayArrayArrayArray:1.0" type="ns4:_3_LongArrayArrayArrayArray" name="LongArrayArrayArrayArray" />
    <corba:array xmlns="" elemname="item" bound="2" repositoryID="IDL:ShortArray:1.0" type="corba:short" name="ShortArray" />
    <corba:anonarray xmlns="" elemname="item" bound="4" type="corba:short" name="_1_ShortArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="2" repositoryID="IDL:ShortArrayArray:1.0" type="ns4:_1_ShortArrayArray" name="ShortArrayArray" />
    <corba:anonarray xmlns="" elemname="item" bound="8" type="corba:short" name="_1_ShortArrayArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="4" type="ns4:_1_ShortArrayArrayArrayArray" name="_2_ShortArrayArrayArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="2" repositoryID="IDL:ShortArrayArrayArrayArray:1.0" type="ns4:_2_ShortArrayArrayArrayArray" name="ShortArrayArrayArrayArray" />
    <corba:anonarray xmlns="" elemname="item" bound="16" type="corba:short" name="_1_ShortArrayArrayArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="8" type="ns4:_1_ShortArrayArrayArrayArrayArray" name="_2_ShortArrayArrayArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="4" type="ns4:_2_ShortArrayArrayArrayArrayArray" name="_3_ShortArrayArrayArrayArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="2" repositoryID="IDL:ShortArrayArrayArrayArrayArray:1.0" type="ns4:_3_ShortArrayArrayArrayArrayArray" name="ShortArrayArrayArrayArrayArray" />
    <corba:alias basetype="corba:long" repositoryID="IDL:myLong:1.0" name="myLong" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10" repositoryID="IDL:MyLongArray:1.0" type="ns4:myLong" name="MyLongArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="100" type="ns4:myLong" name="_1_MyLongArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10" repositoryID="IDL:MyLongArrayArray:1.0" type="ns4:_1_MyLongArrayArray" name="MyLongArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="1000" type="ns4:myLong" name="_1_MyLongArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="100" type="ns4:_1_MyLongArrayArrayArray" name="_2_MyLongArrayArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10" repositoryID="IDL:MyLongArrayArrayArray:1.0" type="ns4:_2_MyLongArrayArrayArray" name="MyLongArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10000" type="ns4:myLong" name="_1_MyLongArrayArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="1000" type="ns4:_1_MyLongArrayArrayArrayArray" name="_2_MyLongArrayArrayArrayArray" />
    <corba:anonarray xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="100" type="ns4:_2_MyLongArrayArrayArrayArray" name="_3_MyLongArrayArrayArrayArray" />
    <corba:array xmlns:ns4="http://schemas.apache.org/yoko/idl/Array/typemap" xmlns="" elemname="item" bound="10" repositoryID="IDL:MyLongArrayArrayArrayArray:1.0" type="ns4:_3_MyLongArrayArrayArrayArray" name="MyLongArrayArrayArrayArray" />
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.apache.org/yoko/idl/Array" xmlns="http://schemas.apache.org/yoko/idl/Array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="LongArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_LongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="100" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="_1_LongArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_LongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="1000" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_LongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="100" name="item" type="_1_LongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="_2_LongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_LongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10000" minOccurs="10000" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_LongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="1000" name="item" type="_1_LongArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_LongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="100" name="item" type="_2_LongArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="_3_LongArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShortArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_ShortArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShortArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="_1_ShortArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_ShortArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_ShortArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="_1_ShortArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShortArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="_2_ShortArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_ShortArrayArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="16" minOccurs="16" name="item" type="xs:short">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_ShortArrayArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="8" minOccurs="8" name="item" type="_1_ShortArrayArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_ShortArrayArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="4" minOccurs="4" name="item" type="_2_ShortArrayArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShortArrayArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="2" name="item" type="_3_ShortArrayArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MyLongArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_MyLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="100" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MyLongArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="_1_MyLongArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_MyLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="1000" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_MyLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="100" name="item" type="_1_MyLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MyLongArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="_2_MyLongArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_1_MyLongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10000" minOccurs="10000" name="item" type="xs:int">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_2_MyLongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="1000" minOccurs="1000" name="item" type="_1_MyLongArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="_3_MyLongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="100" minOccurs="100" name="item" type="_2_MyLongArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MyLongArrayArrayArrayArray">
        <xs:sequence>
          <xs:element maxOccurs="10" minOccurs="10" name="item" type="_3_MyLongArrayArrayArrayArray">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
</wsdl:definitions>
