bindings/src/test/resources/wsdl/AnyTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/AnyTest" xmlns:tns="http://schemas.apache.org/yoko/idl/AnyTest" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/yoko/idl/AnyTest/typemap">
    <corba:struct xmlns:ns4="http://schemas.apache.org/yoko/idl/AnyTest" xmlns="http://schemas.apache.org/yoko/idl/AnyTest/typemap" repositoryID="IDL:TestStruct:1.0" name="TestStruct" type="ns4:TestStruct">
      <corba:member name="member" idltype="corba:string" />
    </corba:struct>
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.apache.org/yoko/idl/AnyTest" xmlns="http://schemas.apache.org/yoko/idl/AnyTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="TestStruct">
        <xs:sequence>
          <xs:element name="member" type="xs:string">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="testAnyParameterWithPrimitive">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" type="xs:anyType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testAnyParameterWithPrimitiveResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testAnyParameterWithComplex">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" type="xs:anyType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testAnyParameterWithComplexResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testAnyReturnWithPrimitive">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testAnyReturnWithPrimitiveResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:anyType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testAnyReturnWithComplex">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testAnyReturnWithComplexResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:anyType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="testAnyReturnWithPrimitive">
    <wsdl:part name="inparameter" element="tns:testAnyReturnWithPrimitive">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testAnyParameterWithPrimitiveResponse">
    <wsdl:part name="outparameter" element="tns:testAnyParameterWithPrimitiveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testAnyParameterWithPrimitive">
    <wsdl:part name="inparameter" element="tns:testAnyParameterWithPrimitive">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testAnyReturnWithComplexResponse">
    <wsdl:part name="outparameter" element="tns:testAnyReturnWithComplexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testAnyReturnWithPrimitiveResponse">
    <wsdl:part name="outparameter" element="tns:testAnyReturnWithPrimitiveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testAnyParameterWithComplexResponse">
    <wsdl:part name="outparameter" element="tns:testAnyParameterWithComplexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testAnyReturnWithComplex">
    <wsdl:part name="inparameter" element="tns:testAnyReturnWithComplex">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testAnyParameterWithComplex">
    <wsdl:part name="inparameter" element="tns:testAnyParameterWithComplex">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AnyTest">
    <wsdl:operation name="testAnyParameterWithPrimitive">
      <wsdl:input name="testAnyParameterWithPrimitiveRequest" message="tns:testAnyParameterWithPrimitive">
    </wsdl:input>
      <wsdl:output name="testAnyParameterWithPrimitiveResponse" message="tns:testAnyParameterWithPrimitiveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testAnyParameterWithComplex">
      <wsdl:input name="testAnyParameterWithComplexRequest" message="tns:testAnyParameterWithComplex">
    </wsdl:input>
      <wsdl:output name="testAnyParameterWithComplexResponse" message="tns:testAnyParameterWithComplexResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testAnyReturnWithPrimitive">
      <wsdl:input name="testAnyReturnWithPrimitiveRequest" message="tns:testAnyReturnWithPrimitive">
    </wsdl:input>
      <wsdl:output name="testAnyReturnWithPrimitiveResponse" message="tns:testAnyReturnWithPrimitiveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testAnyReturnWithComplex">
      <wsdl:input name="testAnyReturnWithComplexRequest" message="tns:testAnyReturnWithComplex">
    </wsdl:input>
      <wsdl:output name="testAnyReturnWithComplexResponse" message="tns:testAnyReturnWithComplexResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnyTestCORBABinding" type="tns:AnyTest">
    <corba:binding repositoryID="IDL:AnyTest:1.0" />
    <wsdl:operation name="testAnyParameterWithPrimitive">
      <corba:operation name="testAnyParameterWithPrimitive">
        <corba:param mode="in" name="param" idltype="corba:any" />
        <corba:return name="return" idltype="corba:boolean" />
      </corba:operation>
      <wsdl:input name="testAnyParameterWithPrimitiveRequest">
      </wsdl:input>
      <wsdl:output name="testAnyParameterWithPrimitiveResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testAnyParameterWithComplex">
      <corba:operation name="testAnyParameterWithComplex">
        <corba:param mode="in" name="param" idltype="corba:any" />
        <corba:return name="return" idltype="corba:boolean" />
      </corba:operation>
      <wsdl:input name="testAnyParameterWithComplexRequest">
      </wsdl:input>
      <wsdl:output name="testAnyParameterWithComplexResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testAnyReturnWithPrimitive">
      <corba:operation name="testAnyReturnWithPrimitive">
        <corba:return name="return" idltype="corba:any" />
      </corba:operation>
      <wsdl:input name="testAnyReturnWithPrimitiveRequest">
      </wsdl:input>
      <wsdl:output name="testAnyReturnWithPrimitiveResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testAnyReturnWithComplex">
      <corba:operation name="testAnyReturnWithComplex">
        <corba:return name="return" idltype="corba:any" />
      </corba:operation>
      <wsdl:input name="testAnyReturnWithComplexRequest">
      </wsdl:input>
      <wsdl:output name="testAnyReturnWithComplexResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnyTestCORBAService">
    <wsdl:port name="AnyTestCORBAPort" binding="tns:AnyTestCORBABinding">
      <corba:address location="corbaloc::localhost:43210/AnyTest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
