bindings/src/test/resources/wsdl/Bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/Bank" xmlns:tns="http://schemas.apache.org/yoko/idl/Bank" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
    
    
  
<corba:typeMapping targetNamespace="http://schemas.apache.org/yoko/idl/Bank/typemap"><corba:object xmlns:ns5="http://www.w3.org/2005/08/addressing" xmlns:ns6="http://schemas.apache.org/yoko/idl/Bank" binding="ns6:AccountCORBABinding" repositoryID="IDL:Account:1.0" name="Account" type="ns5:EndpointReferenceType"/><corba:object xmlns:ns5="http://www.w3.org/2005/08/addressing" binding="" repositoryID="IDL:omg.org/CORBA/Object/1.0" name="CORBA.Object" type="ns5:EndpointReferenceType" /></corba:typeMapping>  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.apache.org/yoko/idl/Bank" xmlns="http://schemas.apache.org/yoko/idl/Bank" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="/schemas/wsdl/ws-addr.xsd">
      </xs:import>
      <xs:element name="_get_name">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_nameResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_name">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="_arg" type="xs:string">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_nameResult">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_id">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_get_idResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_id">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="_arg" type="xs:string">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_set_idResult">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AccountRef">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addAccountResponse">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AccountRef" type="wsa:EndpointReferenceType">
        <xs:annotation>
          <xs:appinfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="getAccountByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccountByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AccountRef">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addObject">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="o" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addObjectResponse">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getObject">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getObjectResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getObjectResponse">
    <wsdl:part name="outparameter" element="tns:getObjectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_id">
    <wsdl:part name="parameters" element="tns:_get_id">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_idResponse">
    <wsdl:part name="parameters" element="tns:_set_idResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountByName">
    <wsdl:part name="inparameter" element="tns:getAccountByName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addObject">
    <wsdl:part name="inparameter" element="tns:addObject">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_name">
    <wsdl:part name="parameters" element="tns:_get_name">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_name">
    <wsdl:part name="parameters" element="tns:_set_name">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObject">
    <wsdl:part name="inparameter" element="tns:getObject">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addObjectResponse">
    <wsdl:part name="outparameter" element="tns:addObjectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_nameResponse">
    <wsdl:part name="parameters" element="tns:_set_nameResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_set_id">
    <wsdl:part name="parameters" element="tns:_set_id">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAccountResponse">
    <wsdl:part name="outparameter" element="tns:addAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountByNameResponse">
    <wsdl:part name="outparameter" element="tns:getAccountByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_nameResponse">
    <wsdl:part name="parameters" element="tns:_get_nameResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="_get_idResponse">
    <wsdl:part name="parameters" element="tns:_get_idResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAccount">
    <wsdl:part name="inparameter" element="tns:addAccount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Account">
    <wsdl:operation name="_get_name">
      <wsdl:input name="_get_name" message="tns:_get_name">
    </wsdl:input>
      <wsdl:output name="_get_nameResponse" message="tns:_get_nameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_name">
      <wsdl:input name="_set_name" message="tns:_set_name">
    </wsdl:input>
      <wsdl:output name="_set_nameResponse" message="tns:_set_nameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_id">
      <wsdl:input name="_get_id" message="tns:_get_id">
    </wsdl:input>
      <wsdl:output name="_get_idResponse" message="tns:_get_idResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_id">
      <wsdl:input name="_set_id" message="tns:_set_id">
    </wsdl:input>
      <wsdl:output name="_set_idResponse" message="tns:_set_idResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Bank">
    <wsdl:operation name="addAccount">
      <wsdl:input name="addAccountRequest" message="tns:addAccount">
    </wsdl:input>
      <wsdl:output name="addAccountResponse" message="tns:addAccountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountByName">
      <wsdl:input name="getAccountByNameRequest" message="tns:getAccountByName">
    </wsdl:input>
      <wsdl:output name="getAccountByNameResponse" message="tns:getAccountByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addObject">
      <wsdl:input name="addObjectRequest" message="tns:addObject">
    </wsdl:input>
      <wsdl:output name="addObjectResponse" message="tns:addObjectResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObject">
      <wsdl:input name="getObjectRequest" message="tns:getObject">
    </wsdl:input>
      <wsdl:output name="getObjectResponse" message="tns:getObjectResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankCORBABinding" type="tns:Bank">
    
<corba:binding repositoryID="IDL:Bank:1.0" />    <wsdl:operation name="addAccount">
      
        
      
<corba:operation name="addAccount"><corba:param xmlns="http://schemas.apache.org/yoko/idl/Bank/typemap" mode="in" name="a" idltype="Account" /></corba:operation>      <wsdl:input name="addAccountRequest">
      </wsdl:input>
      <wsdl:output name="addAccountResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountByName">
      
        
        
      
<corba:operation name="getAccountByName"><corba:param mode="in" name="name" idltype="corba:string" /><corba:return xmlns="http://schemas.apache.org/yoko/idl/Bank/typemap" name="return" idltype="Account" /></corba:operation>      <wsdl:input name="getAccountByNameRequest">
      </wsdl:input>
      <wsdl:output name="getAccountByNameResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addObject">
      
        
      
<corba:operation name="addObject"><corba:param xmlns="http://schemas.apache.org/yoko/idl/Bank/typemap" mode="in" name="o" idltype="CORBA.Object" /></corba:operation>      <wsdl:input name="addObjectRequest">
      </wsdl:input>
      <wsdl:output name="addObjectResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObject">
      
        
      
<corba:operation name="getObject"><corba:return xmlns="http://schemas.apache.org/yoko/idl/Bank/typemap" name="return" idltype="CORBA.Object" /></corba:operation>      <wsdl:input name="getObjectRequest">
      </wsdl:input>
      <wsdl:output name="getObjectResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountCORBABinding" type="tns:Account">
    
<corba:binding repositoryID="IDL:Account:1.0" />    <wsdl:operation name="_get_name">
      
        
      
<corba:operation name="_get_name"><corba:return name="return" idltype="corba:string" /></corba:operation>      <wsdl:input name="_get_name">
      </wsdl:input>
      <wsdl:output name="_get_nameResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_name">
      
        
      
<corba:operation name="_set_name"><corba:param mode="in" name="_arg" idltype="corba:string" /></corba:operation>      <wsdl:input name="_set_name">
      </wsdl:input>
      <wsdl:output name="_set_nameResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_get_id">
      
        
      
<corba:operation name="_get_id"><corba:return name="return" idltype="corba:string" /></corba:operation>      <wsdl:input name="_get_id">
      </wsdl:input>
      <wsdl:output name="_get_idResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_set_id">
      
        
      
<corba:operation name="_set_id"><corba:param mode="in" name="_arg" idltype="corba:string" /></corba:operation>      <wsdl:input name="_set_id">
      </wsdl:input>
      <wsdl:output name="_set_idResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankCORBAService">
    <wsdl:port name="BankCORBAPort" binding="tns:BankCORBABinding">
      
<corba:address location="relfile:./Bank.ref" />    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="AccountCORBAService">
    <wsdl:port name="AccountCORBAPort" binding="tns:AccountCORBABinding">
      
<corba:address location="corbaloc::localhost:60000/Account" />    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
