bindings/src/test/resources/wsdl/Nested.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->

<definitions
 targetNamespace="http://yoko.apache.org/nested"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:tns="http://yoko.apache.org/nested"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xsd1="http://yoko.apache.org/nested/types"
 xmlns:corba="http://schemas.apache.org/yoko/bindings/corba"
 xmlns:corbatm="http://yoko.apache.org/nested/idl_types"
 xmlns:references="http://schemas.iona.com/references">
  <types>
    <schema targetNamespace="http://yoko.apache.org/nested/types"
     xmlns="http://www.w3.org/2001/XMLSchema"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:simpleType name="BasicEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="RED"/>
          <xsd:enumeration value="GREEN"/>
          <xsd:enumeration value="BLUE"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BasicStruct">
        <xsd:sequence>
          <xsd:element name="member1" type="xsd:string"/>
          <xsd:element name="member2" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NestedStruct">
        <xsd:sequence>
          <xsd:element name="member1" type="xsd1:BasicStruct"/>
          <xsd:element name="member2" type="xsd:decimal"/>
          <xsd:element name="member3" type="xsd1:BasicEnum"/>
          <xsd:element name="member4" type="xsd:float"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasicStructArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:BasicStruct" minOccurs="5" maxOccurs="5"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NestedStructArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:NestedStruct" minOccurs="2" maxOccurs="2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasicFixedArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:decimal" minOccurs="3" maxOccurs="3"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasicEnumArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:BasicEnum" minOccurs="2" maxOccurs="2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasicStructSeq">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:BasicStruct" minOccurs="0" maxOccurs="4"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NestedStructSeq">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:NestedStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasicFixedSeq">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:decimal" minOccurs="0" maxOccurs="3"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasicEnumSeq">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:BasicEnum" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_A_AnonymousArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:BasicStruct" minOccurs="2" maxOccurs="2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AnonymousArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd1:_A_AnonymousArray" minOccurs="2" maxOccurs="2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="_B_AnonTypesStruct">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" fixed="true"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="AnonTypesStruct">
        <xsd:sequence>
          <xsd:element name="anonStr" type="xsd1:_B_AnonTypesStruct"/>
          <xsd:element name="anonFixed" type="xsd:decimal"/>
          <xsd:element name="anonArray" type="xsd1:AnonymousArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="testOperation">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testOperationResult">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </schema>
  </types>
  <message name="testOperation">
    <part name="parameters" element="xsd1:testOperation"/>
  </message>
  <message name="testOperationResponse">
    <part name="parameters" element="xsd1:testOperationResult"/>
  </message>
  <portType name="Nested">
    <operation name="testOperation">
      <input message="tns:testOperation" name="testOperation"/>
      <output message="tns:testOperationResponse" name="testOperationResponse"/>
    </operation>
  </portType>
  <binding name="NestedCORBABinding" type="tns:Nested">
    <corba:binding repositoryID="IDL:Nested:1.0"/>
    <operation name="testOperation">
      <corba:operation name="testOperation"/>
      <input/>
      <output/>
    </operation>
  </binding>
  <service name="NestedCORBAService">
    <port name="NestedCORBAPort" binding="tns:NestedCORBABinding">
      <corba:address location="relfile://nested.ior"/>
    </port>
  </service>
  <corba:typeMapping targetNamespace="http://yoko.apache.org/nested/idl_types">
    <corba:enum name="BasicEnum" type="xsd1:BasicEnum" repositoryID="IDL:BasicEnum:1.0">
      <corba:enumerator value="RED"/>
      <corba:enumerator value="GREEN"/>
      <corba:enumerator value="BLUE"/>
    </corba:enum>
    <corba:fixed name="BasicFixed" repositoryID="IDL:BasicFixed:1.0" type="xsd:decimal" digits="3" scale="2"/>
    <corba:struct name="BasicStruct" type="xsd1:BasicStruct" repositoryID="IDL:BasicStruct:1.0">
      <corba:member name="member1" idltype="corba:string"/>
      <corba:member name="member2" idltype="corba:boolean"/>
    </corba:struct>
    <corba:struct name="NestedStruct" type="xsd1:NestedStruct" repositoryID="IDL:NestedStruct:1.0">
      <corba:member name="member1" idltype="corbatm:BasicStruct"/>
      <corba:member name="member2" idltype="corbatm:BasicFixed"/>
      <corba:member name="member3" idltype="corbatm:BasicEnum"/>
      <corba:member name="member4" idltype="corba:float"/>
    </corba:struct>
    <corba:array name="BasicStructArray" repositoryID="IDL:BasicStructArray:1.0" type="xsd1:BasicStructArray" elemtype="corbatm:BasicStruct" bound="5"/>
    <corba:array name="NestedStructArray" repositoryID="IDL:NestedStructArray:1.0" type="xsd1:NestedStructArray" elemtype="corbatm:NestedStruct" bound="2"/>
    <corba:array name="BasicFixedArray" repositoryID="IDL:BasicFixedArray:1.0" type="xsd1:BasicFixedArray" elemtype="corbatm:BasicFixed" bound="3"/>
    <corba:array name="BasicEnumArray" repositoryID="IDL:BasicEnumArray:1.0" type="xsd1:BasicEnumArray" elemtype="corbatm:BasicEnum" bound="2"/>
    <corba:sequence name="BasicStructSeq" repositoryID="IDL:BasicStructSeq:1.0" type="xsd1:BasicStructSeq" elemtype="corbatm:BasicStruct" bound="4"/>
    <corba:sequence name="NestedStructSeq" repositoryID="IDL:NestedStructSeq:1.0" type="xsd1:NestedStructSeq" elemtype="corbatm:NestedStruct" bound="0"/>
    <corba:sequence name="BasicFixedSeq" repositoryID="IDL:BasicFixedSeq:1.0" type="xsd1:BasicFixedSeq" elemtype="corbatm:BasicFixed" bound="3"/>
    <corba:sequence name="BasicEnumSeq" repositoryID="IDL:BasicEnumSeq:1.0" type="xsd1:BasicEnumSeq" elemtype="corbatm:BasicEnum" bound="0"/>
    <corba:anonarray name="_C_AnonymousArray" type="xsd1:_C_AnonymousArray" elemtype="corbatm:BasicStruct" bound="2"/>
    <corba:array name="AnonymousArray" repositoryID="IDL:AnonymousArray:1.0" type="xsd1:AnonymousArray" elemtype="corbatm:_C_AnonymousArray" bound="2"/>
    <corba:anonstring name="_B_AnonTypesStruct" type="xsd1:_B_AnonTypesStruct" bound="2"/>
    <corba:anonfixed name="_D_AnonTypesStruct" type="xsd:decimal" digits="2" scale="2"/>
    <corba:struct name="AnonTypesStruct" type="xsd1:AnonTypesStruct" repositoryID="IDL:AnonTypesStruct:1.0">
      <corba:member name="anonStr" idltype="corbatm:_B_AnonTypesStruct"/>
      <corba:member name="anonFixed" idltype="corbatm:_D_AnonTypesStruct"/>
      <corba:member name="anonArray" idltype="corbatm:AnonymousArray"/>
    </corba:struct>
  </corba:typeMapping>
</definitions>
