bindings/src/test/resources/wsdl/NestedObjRef.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/NestedObjRef" xmlns:tns="http://schemas.apache.org/yoko/idl/NestedObjRef" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/yoko/idl/NestedObjRef/typemap">
    <corba:object xmlns:ns5="http://www.w3.org/2005/08/addressing" xmlns:ns4="http://schemas.apache.org/yoko/idl/NestedObjRef/typemap" xmlns="http://schemas.apache.org/yoko/idl/NestedObjRef" binding="FooCORBABinding" repositoryID="IDL:Foo:1.0" name="ns4:Foo" type="ns5:EndpointReferenceType" />
    <corba:struct xmlns:ns4="http://schemas.apache.org/yoko/idl/NestedObjRef" xmlns="http://schemas.apache.org/yoko/idl/NestedObjRef/typemap" repositoryID="IDL:FooRefStruct:1.0" name="FooRefStruct" type="ns4:FooRefStruct">
      <corba:member name="name" idltype="corba:string" />
      <corba:member name="ref" idltype="Foo" />
    </corba:struct>
    <corba:enum xmlns:ns4="http://schemas.apache.org/yoko/idl/NestedObjRef" xmlns="http://schemas.apache.org/yoko/idl/NestedObjRef/typemap" repositoryID="IDL:enum1:1.0" name="enum1" type="ns4:enum1">
      <corba:enumerator value="e1_1" />
      <corba:enumerator value="e1_2" />
      <corba:enumerator value="e1_3" />
      <corba:enumerator value="e1_4" />
      <corba:enumerator value="e1_5" />
      <corba:enumerator value="e1_6" />
    </corba:enum>
    <corba:union xmlns:ns4="http://schemas.apache.org/yoko/idl/NestedObjRef" xmlns="http://schemas.apache.org/yoko/idl/NestedObjRef/typemap" discriminator="enum1" repositoryID="IDL:union1:1.0" name="FooRefUnion" type="ns4:FooRefUnion">
      <corba:unionbranch name="u1_1" idltype="corba:long">
        <corba:case label="e1_1" />
      </corba:unionbranch>
      <corba:unionbranch name="u1_2" idltype="Foo">
        <corba:case label="e1_3" />
        <corba:case label="e1_2" />
      </corba:unionbranch>
      <corba:unionbranch name="u1_3" idltype="corba:short" default="true" />
    </corba:union>
  </corba:typeMapping>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.apache.org/yoko/idl/NestedObjRef" xmlns="http://schemas.apache.org/yoko/idl/NestedObjRef" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd">
      </xs:import>
      <xs:element name="doBar">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doBarResponse">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FooRef" type="wsa:EndpointReferenceType">
        <xs:annotation>
          <xs:appinfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="FooRefStruct">
        <xs:sequence>
          <xs:element name="name" type="xs:string">
          </xs:element>
          <xs:element name="ref" nillable="true" type="wsa:EndpointReferenceType">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FooRefUnion">
        <xs:choice>
          <xs:element name="u1_1" type="xs:int">
          </xs:element>
          <xs:element name="u1_2" type="wsa:EndpointReferenceType">
          </xs:element>
          <xs:element name="u1_3" type="xs:short">
          </xs:element>
        </xs:choice>
      </xs:complexType>
      <xs:element name="createFooRefInStruct">
        <xs:complexType>
          <xs:sequence>
              <xs:element name="request" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createFooRefInStructResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="FooRefStruct">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createFooRefInUnion">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createFooRefInUnionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="FooRefUnion">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="createFooRefInStructResponse">
    <wsdl:part name="outparameter" element="tns:createFooRefInStructResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFooRefInUnionResponse">
    <wsdl:part name="outparameter" element="tns:createFooRefInUnionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doBarResponse">
    <wsdl:part name="outparameter" element="tns:doBarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doBar">
    <wsdl:part name="inparameter" element="tns:doBar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFooRefInStruct">
    <wsdl:part name="inparameter" element="tns:createFooRefInStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFooRefInUnion">
    <wsdl:part name="inparameter" element="tns:createFooRefInUnion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FooFactory">
    <wsdl:operation name="createFooRefInStruct">
      <wsdl:input name="createFooRefInStructRequest" message="tns:createFooRefInStruct">
    </wsdl:input>
      <wsdl:output name="createFooRefInStructResponse" message="tns:createFooRefInStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFooRefInUnion">
      <wsdl:input name="createFooRefInUnionRequest" message="tns:createFooRefInUnion">
    </wsdl:input>
      <wsdl:output name="createFooRefInUnionResponse" message="tns:createFooRefInUnionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Foo">
    <wsdl:operation name="doBar">
      <wsdl:input name="doBarRequest" message="tns:doBar">
    </wsdl:input>
      <wsdl:output name="doBarResponse" message="tns:doBarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FooFactoryCORBABinding" type="tns:FooFactory">
    <corba:binding repositoryID="IDL:FooFactory:1.0" />
    <wsdl:operation name="createFooRefInStruct">
      <corba:operation name="createFooRefInStruct">
        <corba:param name="request" mode="in" idltype="corba:string"/>
        <corba:return xmlns="http://schemas.apache.org/yoko/idl/NestedObjRef/typemap" name="return" idltype="FooRefStruct" />
      </corba:operation>
      <wsdl:input name="createFooRefInStructRequest">
      </wsdl:input>
      <wsdl:output name="createFooRefInStructResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFooRefInUnion">
      <corba:operation name="createFooRefInUnion">
        <corba:return xmlns="http://schemas.apache.org/yoko/idl/NestedObjRef/typemap" name="return" idltype="FooRefUnion" />
      </corba:operation>
      <wsdl:input name="createFooRefInUnionRequest">
      </wsdl:input>
      <wsdl:output name="createFooRefInUnionResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FooCORBABinding" type="tns:Foo">
    <corba:binding repositoryID="IDL:Foo:1.0" />
    <wsdl:operation name="doBar">
      <corba:operation name="doBar" />
      <wsdl:input name="doBarRequest">
      </wsdl:input>
      <wsdl:output name="doBarResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FooCORBAService">
    <wsdl:port name="FooCORBAPort" binding="tns:FooCORBABinding">
      <corba:address location="corbaloc::localhost:51000/Foo" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="FooFactoryCORBAService">
    <wsdl:port name="FooFactoryCORBAPort" binding="tns:FooFactoryCORBABinding">
      <corba:address location="corbaloc::localhost:50000/NestedObjRefTest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
