bindings/src/test/resources/wsdl/ObjectRef.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/ObjectRef" xmlns:tns="http://schemas.apache.org/yoko/idl/ObjectRef" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/yoko/idl/ObjectRef/typemap">
    <corba:object xmlns:ns4="http://www.w3.org/2005/08/addressing" xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" repositoryID="IDL:omg.org/CORBA/Object/1.0" name="CORBA.Object" type="ns4:EndpointReferenceType" />
    <corba:object xmlns:ns5="http://www.w3.org/2005/08/addressing" xmlns:ns4="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" xmlns="http://schemas.apache.org/yoko/idl/ObjectRef" binding="TestObjectCORBABinding" repositoryID="IDL:TestObject:1.0" name="ns4:TestObject" type="ns5:EndpointReferenceType" />
    <corba:object xmlns:ns5="http://www.w3.org/2005/08/addressing" xmlns:ns4="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" xmlns="http://schemas.apache.org/yoko/idl/ObjectRef" binding="foobar.fooCORBABinding" repositoryID="IDL:foobar/foo:1.0" name="ns4:foobar.foo" type="ns5:EndpointReferenceType" />
    <corba:object xmlns:ns5="http://www.w3.org/2005/08/addressing" xmlns:ns4="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" xmlns="http://schemas.apache.org/yoko/idl/ObjectRef" binding="InferFromTypeId" repositoryID="IDL:omg.org/CORBA/Object/1.0" name="ns4:Inferred.Object" type="ns5:EndpointReferenceType" /> 
  </corba:typeMapping>

  <wsdl:import namespace="http://schemas.apache.org/yoko/idl/ObjectRef" location="ObjectRefLogical.wsdl" />  
  <wsdl:import namespace="http://schemas.apache.org/yoko/idl/ObjectRef" location="ObjectRefTestService.wsdl" />
  
  <wsdl:binding name="foobar.fooCORBABinding" type="tns:foobar.foo">
    <corba:binding repositoryID="IDL:foobar/foo:1.0" />
  </wsdl:binding>
  <wsdl:binding name="TestInterfaceCORBABinding" type="tns:TestInterface">
    <corba:binding repositoryID="IDL:TestInterface:1.0" />
    <wsdl:operation name="testDefaultObjectParam">
      <corba:operation name="testDefaultObjectParam">
        <corba:param xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" mode="in" name="param" idltype="CORBA.Object" />
        <corba:return name="return" idltype="corba:boolean" />
      </corba:operation>
      <wsdl:input name="testDefaultObjectParamRequest">
      </wsdl:input>
      <wsdl:output name="testDefaultObjectParamResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testDefaultObjectReturn">
      <corba:operation name="testDefaultObjectReturn">
        <corba:return xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" name="return" idltype="CORBA.Object" />
      </corba:operation>
      <wsdl:input name="testDefaultObjectReturnRequest">
      </wsdl:input>
      <wsdl:output name="testDefaultObjectReturnResponse">
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="testInferredObjectParam">
      <corba:operation name="testInferredObjectParam">
        <corba:param xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" mode="in" name="param" idltype="Inferred.Object" />
        <corba:return name="return" idltype="corba:boolean" />
      </corba:operation>
      <wsdl:input name="testInferredObjectParamRequest">
      </wsdl:input>
      <wsdl:output name="testInferredObjectParamResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testInferredObjectReturn">
      <corba:operation name="testInferredObjectReturn">
        <corba:return xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" name="return" idltype="Inferred.Object" />
      </corba:operation>
      <wsdl:input name="testInferredObjectReturnRequest">
      </wsdl:input>
      <wsdl:output name="testInferredObjectReturnResponse">
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="testCustomObjectParam">
      <corba:operation name="testCustomObjectParam">
        <corba:param xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" mode="in" name="param" idltype="TestObject" />
        <corba:return name="return" idltype="corba:boolean" />
      </corba:operation>
      <wsdl:input name="testCustomObjectParamRequest">
      </wsdl:input>
      <wsdl:output name="testCustomObjectParamResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCustomObjectReturn">
      <corba:operation name="testCustomObjectReturn">
        <corba:return xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" name="return" idltype="TestObject" />
      </corba:operation>
      <wsdl:input name="testCustomObjectReturnRequest">
      </wsdl:input>
      <wsdl:output name="testCustomObjectReturnResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testNilObjectParam">
      <corba:operation name="testNilObjectParam">
        <corba:param xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" mode="in" name="param" idltype="TestObject" />
        <corba:return name="return" idltype="corba:boolean" />
      </corba:operation>
      <wsdl:input name="testNilObjectParamRequest">
      </wsdl:input>
      <wsdl:output name="testNilObjectParamResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testNilObjectReturn">
      <corba:operation name="testNilObjectReturn">
        <corba:return xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" name="return" idltype="TestObject" />
      </corba:operation>
      <wsdl:input name="testNilObjectReturnRequest">
      </wsdl:input>
      <wsdl:output name="testNilObjectReturnResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="foobar.barCORBABinding" type="tns:foobar.bar">
    <corba:binding repositoryID="IDL:foobar/bar:1.0" />
    <wsdl:operation name="barOp">
      <corba:operation name="barOp">
        <corba:param xmlns="http://schemas.apache.org/yoko/idl/ObjectRef/typemap" mode="in" name="fooPar" idltype="foobar.foo" />
      </corba:operation>
      <wsdl:input name="barOpRequest">
      </wsdl:input>
      <wsdl:output name="barOpResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="foobar.fooCORBAService">
    <wsdl:port name="foobar.fooCORBAPort" binding="tns:foobar.fooCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="foobar.barCORBAService">
    <wsdl:port name="foobar.barCORBAPort" binding="tns:foobar.barCORBABinding">
      <corba:address location="IOR:" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="TestInterfaceCORBAService">
    <wsdl:port name="TestInterfaceCORBAPort" binding="tns:TestInterfaceCORBABinding">
      <corba:address location="corbaloc::localhost:54321/ObjectRefTest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
