bindings/src/test/resources/wsdl/ObjectRefLogical.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/ObjectRef" xmlns:tns="http://schemas.apache.org/yoko/idl/ObjectRef" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.apache.org/yoko/idl/ObjectRef" xmlns="http://schemas.apache.org/yoko/idl/ObjectRef" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd">
      </xs:import>
      <xs:element name="testObjectValue">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testObjectValueResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testObjectValueUpdate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="xs:int">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testObjectValueUpdateResponse">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testDefaultObjectParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testDefaultObjectParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testDefaultObjectReturn">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testDefaultObjectReturnResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="testInferredObjectParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testInferredObjectParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testInferredObjectReturn">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testInferredObjectReturnResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="testCustomObjectParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testCustomObjectParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TestObjectRef" type="wsa:EndpointReferenceType">
        <xs:annotation>
          <xs:appinfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="testCustomObjectReturn">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testCustomObjectReturnResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testNilObjectParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testNilObjectParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testNilObjectReturn">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testNilObjectReturnResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="barOp">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fooPar" nillable="true" type="wsa:EndpointReferenceType">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="barOpResponse">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="foobar.fooRef" type="wsa:EndpointReferenceType">
        <xs:annotation>
          <xs:appinfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="testObjectValue">
    <wsdl:part name="inparameter" element="tns:testObjectValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barOp">
    <wsdl:part name="inparameter" element="tns:barOp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDefaultObjectParamResponse">
    <wsdl:part name="outparameter" element="tns:testDefaultObjectParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testInferredObjectParamResponse">
    <wsdl:part name="outparameter" element="tns:testInferredObjectParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testNilObjectReturnResponse">
    <wsdl:part name="outparameter" element="tns:testNilObjectReturnResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testCustomObjectReturn">
    <wsdl:part name="inparameter" element="tns:testCustomObjectReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testObjectValueResponse">
    <wsdl:part name="outparameter" element="tns:testObjectValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testNilObjectReturn">
    <wsdl:part name="inparameter" element="tns:testNilObjectReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testObjectValueUpdateResponse">
    <wsdl:part name="outparameter" element="tns:testObjectValueUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testNilObjectParamResponse">
    <wsdl:part name="outparameter" element="tns:testNilObjectParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDefaultObjectParam">
    <wsdl:part name="inparameter" element="tns:testDefaultObjectParam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDefaultObjectReturn">
    <wsdl:part name="inparameter" element="tns:testDefaultObjectReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testInferredObjectParam">
    <wsdl:part name="inparameter" element="tns:testInferredObjectParam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testInferredObjectReturn">
    <wsdl:part name="inparameter" element="tns:testInferredObjectReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testNilObjectParam">
    <wsdl:part name="inparameter" element="tns:testNilObjectParam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testCustomObjectParam">
    <wsdl:part name="inparameter" element="tns:testCustomObjectParam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testCustomObjectParamResponse">
    <wsdl:part name="outparameter" element="tns:testCustomObjectParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testObjectValueUpdate">
    <wsdl:part name="inparameter" element="tns:testObjectValueUpdate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testDefaultObjectReturnResponse">
    <wsdl:part name="outparameter" element="tns:testDefaultObjectReturnResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testInferredObjectReturnResponse">
    <wsdl:part name="outparameter" element="tns:testInferredObjectReturnResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barOpResponse">
    <wsdl:part name="outparameter" element="tns:barOpResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testCustomObjectReturnResponse">
    <wsdl:part name="outparameter" element="tns:testCustomObjectReturnResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="foobar.bar">
    <wsdl:operation name="barOp">
      <wsdl:input name="barOpRequest" message="tns:barOp">
    </wsdl:input>
      <wsdl:output name="barOpResponse" message="tns:barOpResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TestInterface">
    <wsdl:operation name="testDefaultObjectParam">
      <wsdl:input name="testDefaultObjectParamRequest" message="tns:testDefaultObjectParam">
    </wsdl:input>
      <wsdl:output name="testDefaultObjectParamResponse" message="tns:testDefaultObjectParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testDefaultObjectReturn">
      <wsdl:input name="testDefaultObjectReturnRequest" message="tns:testDefaultObjectReturn">
    </wsdl:input>
      <wsdl:output name="testDefaultObjectReturnResponse" message="tns:testDefaultObjectReturnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testInferredObjectParam">
      <wsdl:input name="testInferredObjectParamRequest" message="tns:testInferredObjectParam">
    </wsdl:input>
      <wsdl:output name="testInferredObjectParamResponse" message="tns:testInferredObjectParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testInferredObjectReturn">
      <wsdl:input name="testInferredObjectReturnRequest" message="tns:testInferredObjectReturn">
    </wsdl:input>
      <wsdl:output name="testInferredObjectReturnResponse" message="tns:testInferredObjectReturnResponse">
    </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="testCustomObjectParam">
      <wsdl:input name="testCustomObjectParamRequest" message="tns:testCustomObjectParam">
    </wsdl:input>
      <wsdl:output name="testCustomObjectParamResponse" message="tns:testCustomObjectParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCustomObjectReturn">
      <wsdl:input name="testCustomObjectReturnRequest" message="tns:testCustomObjectReturn">
    </wsdl:input>
      <wsdl:output name="testCustomObjectReturnResponse" message="tns:testCustomObjectReturnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testNilObjectParam">
      <wsdl:input name="testNilObjectParamRequest" message="tns:testNilObjectParam">
    </wsdl:input>
      <wsdl:output name="testNilObjectParamResponse" message="tns:testNilObjectParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testNilObjectReturn">
      <wsdl:input name="testNilObjectReturnRequest" message="tns:testNilObjectReturn">
    </wsdl:input>
      <wsdl:output name="testNilObjectReturnResponse" message="tns:testNilObjectReturnResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="foobar.foo">
  </wsdl:portType>
  <wsdl:portType name="TestObject">
    <wsdl:operation name="testObjectValue">
      <wsdl:input name="testObjectValueRequest" message="tns:testObjectValue">
    </wsdl:input>
      <wsdl:output name="testObjectValueResponse" message="tns:testObjectValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testObjectValueUpdate">
      <wsdl:input name="testObjectValueUpdateRequest" message="tns:testObjectValueUpdate">
    </wsdl:input>
      <wsdl:output name="testObjectValueUpdateResponse" message="tns:testObjectValueUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
