bindings/src/test/resources/wsdl/OpNames.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://schemas.apache.org/yoko/idl/OpNames" xmlns:tns="http://schemas.apache.org/yoko/idl/OpNames" xmlns:corba="http://schemas.apache.org/yoko/bindings/corba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <corba:typeMapping targetNamespace="http://schemas.apache.org/yoko/idl/OpNames/typemap" />
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.apache.org/yoko/idl/OpNames" xmlns="http://schemas.apache.org/yoko/idl/OpNames" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="testOp">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testOpResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="M2_M2Interface_testOp">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="M2_M2Interface_testOpResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="M2_M2Interface_testOpResponse">
    <wsdl:part name="outparameter" element="tns:M2_M2Interface_testOpResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testOp">
    <wsdl:part name="inparameter" element="tns:testOp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testOpResponse">
    <wsdl:part name="outparameter" element="tns:testOpResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="M2_M2Interface_testOp">
    <wsdl:part name="inparameter" element="tns:M2_M2Interface_testOp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="M1.M1Interface">
    <wsdl:operation name="testOp">
      <wsdl:input name="testOpRequest" message="tns:testOp">
    </wsdl:input>
      <wsdl:output name="testOpResponse" message="tns:testOpResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="M2.M2Interface">
    <wsdl:operation name="M2_M2Interface_testOp">
      <wsdl:input name="M2_M2Interface_testOpRequest" message="tns:M2_M2Interface_testOp">
    </wsdl:input>
      <wsdl:output name="M2_M2Interface_testOpResponse" message="tns:M2_M2Interface_testOpResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="M1.M1InterfaceCORBABinding" type="tns:M1.M1Interface">
    <corba:binding repositoryID="IDL:M1/M1Interface:1.0" />
    <wsdl:operation name="testOp">
      <corba:operation name="testOp">
        <corba:return name="return" idltype="corba:string" />
      </corba:operation>
      <wsdl:input name="testOpRequest">
      </wsdl:input>
      <wsdl:output name="testOpResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="M2.M2InterfaceCORBABinding" type="tns:M2.M2Interface">
    <corba:binding repositoryID="IDL:M2/M2Interface:1.0" />
    <wsdl:operation name="M2_M2Interface_testOp">
      <corba:operation name="testOp">
        <corba:return name="return" idltype="corba:string" />
      </corba:operation>
      <wsdl:input name="M2_M2Interface_testOpRequest">
      </wsdl:input>
      <wsdl:output name="M2_M2Interface_testOpResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="M2.M2InterfaceCORBAService">
    <wsdl:port name="M2.M2InterfaceCORBAPort" binding="tns:M2.M2InterfaceCORBABinding">
      <corba:address location="corbaloc::localhost:22222/M2Interface" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="M1.M1InterfaceCORBAService">
    <wsdl:port name="M1.M1InterfaceCORBAPort" binding="tns:M1.M1InterfaceCORBABinding">
      <corba:address location="corbaloc::localhost:11111/M1Interface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
